# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Output
output/

# Python environment
.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db